/* ==========================================
   RESET
========================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #020e25;
  color: #222;
  padding: 12px;
  max-width: 1000px;
  margin: auto;
}

/* ==========================================
   HEADER
========================================== */

h1 {
  text-align: center;
  color: #2d6cdf;
  margin-bottom: 16px;
  font-size: 1.45rem;
}

/* ==========================================
   TOP BAR
========================================== */

.add,
.summary {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.add input {
  flex: 1;
  min-width: 160px;
  padding: 8px 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  font-size: 13px;
  transition: .2s;
}

.add input:focus {
  outline: none;
  border-color: #2d6cdf;
  box-shadow: 0 0 0 2px rgba(45, 108, 223, .15);
}

.add button {
  padding: 8px 16px;
  background: #2d6cdf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  transition: .2s;
}

.add button:hover {
  background: #2457b8;
}

.add button:active {
  transform: scale(.97);
}

/* ==========================================
   SUMMARY
========================================== */

.summary {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
  padding: 12px;
  justify-content: space-around;
  text-align: center;
}

.summary span {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
  color: #666;
}

.summary b {
  font-size: 22px;
  color: #2d6cdf;
}

/* ==========================================
   TABLE
========================================== */

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  background: transparent;
  border-radius: 4px;
}

/* ==========================================
   HEADER
========================================== */

thead th {
  background: #89b105;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: solid #bbed32 1px;
  font-weight: bold;
  position: sticky;
  top: 0;

  z-index: 30;
}

thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 40;
}

/* ==========================================
   ROWS
========================================== */

tbody tr {
  transition: .2s;
}

tbody tr:hover {
  transform: translateY(-2px);
}

tbody td {
  background: white;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .06);
  border: none;
}

/* rounded row */

tbody td:first-child {
  border-radius: 12px 0 0 12px;
}

tbody td:last-child {
  border-radius: 0 12px 12px 0;
}

/* ==========================================
   SUBJECT COLUMN
========================================== */

th:first-child,
td:first-child {
  width: 170px;
  min-width: 170px;
  text-align: left;
  padding-left: 14px;
  border-right: 2px solid #ececec;
}

/* sticky subject */

.subject-title {
  position: sticky;
  left: 0;
  z-index: 25;

  background: white;

  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 700;
  color: #2d6cdf;

  letter-spacing: .3px;
}

/* numbers */

.attendance-value,
.present-count,
.total-count,
.percentage {
  font-size: 13px;
  font-weight: 600;
  color: #555;
}

/* alternate rows */

tbody tr:nth-child(even) td {
  background: #fcfcfd;
}

tbody tr:hover td {
  background: #fffaf2;
}

/* ==========================================
   COLUMN DIVIDER
========================================== */

td:first-child {
  box-shadow:
    2px 0 5px rgba(0, 0, 0, .04),
    0 3px 8px rgba(0, 0, 0, .05);
}

thead th:first-child {
  box-shadow: 2px 0 5px rgba(0, 0, 0, .08);
}

/* ==========================================
   ACTIONS
========================================== */

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 145px;
}

.action-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

button {
  border: none;
  cursor: pointer;
  transition: .18s ease;
}

/* Present */

.present-btn {
  width: 34px;
  height: 34px;
  background: #2ecc71;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* Absent */

.absent-btn {
  width: 34px;
  height: 34px;
  background: #e74c3c;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* Calendar */

.calendar-btn {
  width: 32px;
  height: 32px;
  background: #6c5ce7;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

/* Delete */

.delete-btn {
  width: 22px;
  height: 22px;
  background: #df0700;
  color: white;
  border-radius: 10px;
  border: double;
  font-size: 10px;
  opacity: 1;
}

.delete-btn:hover {
  opacity: 1;
}

.present-btn:hover,
.absent-btn:hover,
.calendar-btn:hover {
  transform: scale(1.08);
  filter: brightness(1.05);
}

.present-btn:active,
.absent-btn:active,
.calendar-btn:active,
.delete-btn:active {
  transform: scale(.94);
}

/* ==========================================
   CALENDAR MODAL
========================================== */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, .45);
  backdrop-filter: blur(2px);
}

.modal-content {
  width: min(600px, 70%);
  margin: 30px auto;
  background: white;
  border-radius: 60px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 1.22);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 32px;
  height: 32px;
  /* margin-bottom: 10px; */
  margin-left: 40px;

  border: none;
  border-radius: 50%;

  background: #e74c3c;
  color: white;

  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);

  transition: .2s;
}

.close-btn:hover {
  background: #0539ab;
  transform: scale(1.08);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.calendar-header h2 {
  font-size: 35px;
}

.calendar-header button {

  padding: 16px 24px;
  background: #2d6cdf;
  color: white;
  border-radius: 70px;
}

/* ==========================================
   CALENDAR GRID
========================================== */

.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  gap: 10px;
}

.day {
  height: 0px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: .15s;
  font-size: 13px;
}

.day:hover {
  transform: scale(1.5);
}

.present {
  background: #2ecc71;
  color: white;
  border: none;
}

.absent {
  background: #e74c3c;
  color: white;
  border: none;
}

.today {
  border: 2px solid #2d6cdf;
}

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #bfc6d1;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* ==========================================
   SMALL ANIMATIONS
========================================== */

tbody tr {
  transition:
    transform .18s,
    filter .18s;
}

tbody tr:hover {
  filter: brightness(1.01);
}

.summary,
tbody td,
.add button,
.modal-content {
  transition: .2s;
}

/* ==========================================
   MOBILE
========================================== */

@media (max-width:700px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.3rem;
  }

  .add {
    flex-direction: column;
  }

  .summary {
    flex-direction: column;
    gap: 10px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th {
    font-size: 12px;
    padding: 8px;
  }

  td {
    padding: 8px;
  }

  th:first-child,
  td:first-child {
    width: 140px;
    min-width: 14px;
  }

  .subject-title {
    font-size: 14px;
  }

  .actions {
    min-width: 125px;
  }

  .action-left {
    gap: 5px;
  }

  .present-btn,
  .absent-btn {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .calendar-btn {
    width: 28px;
    height: 28px;
    font-size: 13px;
  }

  .delete-btn {
    width: 20px;
    height: 20px;
    font-size: 9px;
  }

  .calendar {
    gap: 5px;
  }

  .day {
    height: 36px;
    font-size: 12px;
  }
}

/* ==========================================
   FINAL POLISH
========================================== */

table {
  animation: fadeIn .25s ease;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


#dayPopup {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}